body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.img-background{
    background-image: url('fundo.jpg');
    background-size: cover;
    background-attachment: fixed; /* Isso evita que a imagem role com a página */
    height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed; /* Isso evita que a imagem role com a página */
    height: 100%;
}
.logo img{
    height: 100%;
    width: 250px;
}
.container-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgb(145, 145, 145);
}
.container-login{
    padding: 40px;
}
.container-login h2{
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: darkorchid;
    text-align: center;
}

.dados-form{
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0;
    width: 100%;
}

.dados-form input{
    padding-left: 10px; 
    width: 100%;
    height: 35px;
    background: transparent;
    outline: none;
    border: none;

}

.dados-form label{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
}
.dados-form .icone{
    top: 5px;
    position: absolute;
    right: 5px;
    font-size: 22px;
    line-height: 10px;

}

.bt-login, .bt-cadastro{
    margin-left: 27%;
    border: 1px solid;
    border-radius: 10px;
    background-color: darkmagenta;
    color: white;
    font-size: medium;
    padding: 0;
    height: 50px;
    width: 50%;
    transition: ease 0.5s;
    cursor: pointer;
}

.bt-login:hover, .bt-cadastro:hover{
    margin-left: 0;
    width: 100%;
    background-color: blueviolet;
}

.cadastro,.esqueci-senha{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.cadastro a, .esqueci-senha a{
    color:darkmagenta;
    text-decoration: none;
    font-weight: bold;   
}


.rodape{
    font-weight: 400;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 45%;
    justify-content: center;
    font-style: italic;
}

.informacoes{
    margin-left: 70%;
    margin-top: 18%;
    padding: 0;
    position: absolute;
    border-radius: 10px;
    width: 250px;
    background: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px grey;
}

.informacoes-cabecalho{
    gap:10px;
    margin: 0;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes-cabecalho span{
    display: flex;
    font-size: 22px;
}

.informacoes-texto{
    font-size: 13px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background:transparent;
    border-radius: 0px 0px 10px 10px;
}

.informacoes2{
    margin-left: 13%;
    margin-top: 6.4%;
    padding: 0;
    position: absolute;
    border-radius: 10px;
    width: 250px;
    background: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px grey;
}

.informacoes-cabecalho2{
    gap:10px;
    margin: 0;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes-cabecalho2 span{
    display: flex;
    font-size: 22px;
}

.informacoes-texto2{
    
    font-size: 13px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background:transparent;
    border-radius: 0px 0px 10px 10px;
}

.informacoes3{
    margin-left: 13%;
    margin-top: 34.3%;
    padding: 0;
    position: absolute;
    border-radius: 10px;
    width: 250px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px grey;
}

.informacoes-cabecalho3{
    gap:10px;
    margin: 0;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes-cabecalho3 span{
    display: flex;
    font-size: 22px;
}

.informacoes-texto3{
    font-size: 13px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background:transparent;
    border-radius: 0px 0px 10px 10px;
}

.bt-fechar{
    position: absolute;
    margin:0;
    margin-left: 83.9%;
    display: flex;
    background-color: blueviolet;
    color: white;
    width: 70px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 10px 0;
    border: 2px solid white;
}

.bt-fechar a{
    text-decoration: none;
    color: white;
}

